:root {
  --size: 200px;
  --th: 1px;
}

html {
  background: black;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute; /* Permet de positionner le conteneur en arrière-plan */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square {
  border: solid white var(--th);
  width: var(--size);
  height: var(--size);
  position: absolute;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 calc(var(--size) / 10) inset,
    rgba(255, 255, 255, 0.5) 0 0 calc(var(--size) / 20);
  animation: bounce 1.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
  transform: rotate(45deg)
    translate(calc(-1 * var(--size) / 5), calc(-1 * var(--size) / 5));
}

.square:nth-of-type(2) {
  animation-delay: 200ms;
}

.square:nth-of-type(3) {
  animation-delay: 400ms;
}

@keyframes bounce {
  from {
    transform: rotate(45deg)
      translate(calc(-1 * var(--size) / 5), calc(-1 * var(--size) / 5));
  }
  to {
    transform: rotate(45deg)
      translate(calc(var(--size) / 5), calc(var(--size) / 5));
  }
}

.content {
  position: relative;
  z-index: 1; /* Place le contenu au-dessus des carrés */
  color: aliceblue;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
}
/* Style pour le bouton "Commencer" */
.start-button {
  background-color: #ededed36; /* Bleu pour le bouton */
  color: white;
  font-size: 1.2em;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 200%; /* Espace entre le titre et le bouton */
}

.start-button:hover {
  background-color: #434649; /* Couleur plus foncée lors du survol */
  transform: scale(1.05); /* Agrandir légèrement le bouton */
}
